<header>
    <h2 class="titulo">Muebleria</h2>
    <nav class="navigation">
        <a  href="/cargarIndex" >Inicio</a>
         <a  href="/cargarProductos" >Producto</a>
        <a  href="/cargarMantenedores" >  Mantenedores</a>     
        <a  href="/cargarConsulta" >Consultas</a>     
        <a  href="/cargarReportes" >Reportes</a>
           </nav>
    
  </header>
    
    
    <section class="container">
        <div class="titulo-consulta"> 
            <h3 >Consulta Producto</h3>
        </div>
        
        <form  method="post" class="form">
            
            <input type="text" name="descripcion" id="descripcion" placeholder="buscar por descripcion">
            <button type="submit">BUSCAR</button>
        </form>

        <div class="table-wrapper">
            <table class="content-table"   >
                <thead>
                  <tr>
                    <th>Codigo</th>
					<th>Proveedor</th>
					<th>Descripcion</th>
					<th>Tipo</th>
					<th>Stock</th>
					<th>Precio</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elemento of productoArray">
                        <th scope="row">{{elemento.cod_prod}}</th>
                        <td>{{elemento.cod_provee}}</td>
                        <td>{{elemento.descripcion}}</td>
                        <td>{{elemento.idtipo}}</td>
                        <td>{{elemento.stock}}</td>
                        <td>{{elemento.precio}}</td>
                        
                        <td>
                            <button class="submit-update" (click)="actualizar(elemento.cod_prod)">Editar</button>
                            <button class="submit-danger" (click)="eliminar(elemento.cod_prod)">Eliminar</button>
                           
                        </td>
                       
                    </tr>
					</tbody>
            </table>
            <button class="submit" (click)="nuevo()">Nuevo Producto</button>
        </div>
    </section>
