<header>
    <h2 class="titulo">Muebleria</h2>
    <nav class="navigation">
        <a  href="/cargarIndex" >Inicio</a>
        <a  href="/cargarMantenedores" >  Mantenedores</a>     
        <a  href="/cargarConsulta" >Consultas</a>     
        <a  href="/cargarReportes" >Reportes</a>
          </nav>
    
  </header>
   
  <div class="main-container">  
    <h1 class="titulo-container">Consultas</h1>
    <div class="card">
      
        <div class="item item--1"  > 
           
            <a class="nav-link"  href="/listar/Empleados" >Usuarios</a> 
            
        </div>
        <div class="item item--2"  >
          <a class="nav-link"  href="/listar/Proveedores" >Proveedores</a> 
           
        </div>
        <div class="item item--3"  >
          <a class="nav-link"  href="/listar/Productos" >Productos</a> 
          
        </div>
        <div class="item item--4" >
          <a class="nav-link"  href="/listar/Empleados" >Empleados</a> 
           
        </div>
    </div>
  </div>

